/target/
/libarblib.so
/class.path
/*.arb*
/*.log
/*~
/*.class
/core
/A.java
/xMinus>tanhlnyayx.java
/FiveToThePowerOfTwo.java
/FourTwo÷Six.java
/G.java
/J₀t.java
/Minust.java
/OnePlusTwoPlusThree.java
/OnePlusiDividedByTwoPlusZero.java
/OnePlustToThePowerOfTwo.java
/SevenZeroMinusZeroPointFiveEight.java
/SixNinePlusZeroPointFourTwo.java
/SixNinePlusZeroPointFourTwoPlusZeroPointFiveEight.java
/SixNinePointFourTwo.java
/Six×Seven.java
/aMinusbTimesJ₀λTimest.java
/halfTimesOneZero.java
/lntToThePowerOfTwoPlusOne.java
/rToThePowerOfOneMinusα.java
/t.java
/tanhOnePlusOne.java
/tanhTwo.java
/tanhlnOne.java
/tanhlnOnePlustToThePowerOfTwo.java
/tanhlnOnePlusyToThePowerOfTwo.java
/tanhlnOnePlusρToThePowerOfTwo.java
/tanhtPlusOne.java
/tanhy.java
/tanhyPlusOne.java
/tanhyPlusz.java
/v_Three_.java
/v_k_.java
/w.java
/x.java
/xDividedByy.java
/xMinusy.java
/xPlusy.java
/xTimesy.java
/yToThePowerOfTwo.java
/yToThePowerOfTwoPlusOne.java
/yay.java
/y².java
/y⁵.java
/π.java
/√TwoFive.java
/cool
/cool.h
/cool.so
/cool_dynamic.h
/graal_isolate.h
/graal_isolate_dynamic.h
/svm_err_b_20240121T221423.243_pid20508.md
/sources/
/cool.debug
/hmm
