/.gitignore~
/pom.xml~
/README~
/out.png
/libarblib.so
/X.gif
/class.path
/hs_err_pid120044.log
/target/classes
/core.*
/hs_err*.log
/Makefile~
/hmm.avi
/cool.avi
/jeprof/
/ignoreLeaks.conf~
/wtf
/wtf2
/cool.mp4
/hmm0to0.5.avi
/SNewton.png
/cosh.png
/ReX.avi
/target/*
/ReX.mov
/ReX.mp4
/hmm.mp4
/*.png
/*.arb*
/*.avi
/target/
/core
/Re(NewtonFlow(Y=T(scale=3.0000)(Z))).ogv
/out.mp4
/symbols.txt~
