/*~
/*aux
/*bak
/*sav
/*dvi
/*log
/UnderstandingFFTScaling.toc
/UnderstandingFFTScaling.out
/stationaryZeta.out
/rh.out
/#Appendix2GaussianStructure.tex#
/100.out
/Band-LimitednessOfTtheHardyZ-FunctionInThePhaseVariable.out
/HardyZActualizedAsAWeaklyHarmonizableOscillatoryProcess.out
/HardyZActualizedAsAWeaklyHarmonizableOscillatoryProcessV2.out
