/parameterizedLemniscate.tm~
/X.tm~
/X.tex
/XangIter.pdf
/XangIter.ps
/references.bib~
/refs.bib~
/HamiltonianDynamicalEvolution.pdf
/references.bib.bak
/references.bib.sav
/RealAngle.nb
/fontconfig/
/refs.bib.sav
/AutomaticDifferentiation.txt~
