/*~
/refs.bib.bak
/refs.bib.sav
/core
/refs.bib~
/refs2.bib~
/refs2.bib.bak
/refs2.bib.sav
/SwingingFactorials.tm~
/ProductionExecutionFlowAnalysis.aux
/ProductionExecutionFlowAnalysis.log
/GeneratedProductExecutionFlowAnalysis.aux
/GeneratedProductExecutionFlowAnalysis.log
/ConjugacyClasses.tm~
/AronszajnsTheoremYosida.tm~
/TheSwingingFactorial.tm~
/TheKarhunenLoeveExpansion.tm~
/Examples6And7FromYaglom1987.tm~
/InverseSpectralTheory.tm~
/a.mw
/ecbx0.log
/ecss0.log
/gr8.mpl
/J0IntegralCovarianceOperator_5_1.mw
/fgfdgfd.mw
/ecxc0.log
